.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.search-result-main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#search-result-user-input {
  text-align: center;
}

.search-result-filter {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 276px;
}

.search-result-filter > button {
  margin: 1px;
}

.search-result-myslider {
  width: auto;
}
.search-result-myslider:hover {
  opacity: 1;
}

#display {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
}
.place {
  display: flex;
  padding: 15px;
  border-bottom: 1.5px solid gray;
}

section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-result-filter > span {
  font-size: 25px;
}

#slider > p {
  margin: 0px;
}
span {
  margin-top: 5px;
  margin-bottom: 5px;
}
.place_image {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  height: auto;
  width: 300px;
  border-radius: 50%;
}

.place_image > img {
  border-radius: 5px;
}

.place_info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 5px;
  order: 2;
}
.place_info > button {
  background-color: white;
  border: 1px solid;
  margin-bottom: 5px;
  color: #111;
  width: 175px;
}
