.filter_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  gap: 5px;
}

.filter_box > button {
  display: "normal";
}

.table {
  table-layout: auto;
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
}
td,
tr {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
tr:hover {
  background-color: rgba(0, 149, 218, 0.85);
}
